[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.17"
djangorestframework = "==3.17.1"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
python-dotenv = "*"
dj-database-url = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
